body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #eee;
  color:#333;
  padding-top:2.5em;
}

nav {
  width:100%;
  position:fixed;
  top:0;
}

h1 {
  text-align:center;
  width:100%;
  font-weight:normal;
}

input {
  border-radius:0;
}

table {
  width:100%;
  border-collapse: collapse;
}

button {
  color:#333;
  background-color: #ccc;
  border-color:#aaa;
}

header button {
  width:25%;
  font-size:115%;
  padding:0.6em 0.2em;

  -webkit-appearance: none;
  border-radius: 0;
}

.singerName {
  width:100%;
  font-size:1em;
}

.singerName p {
  text-align:center;
  padding:0.5em 0;
  margin:0;
}

.singerName label {
  width:30%;
  display:inline-block;
  text-align:right;
  padding:0.5em 0;
}
.singerName input {
  width:70%;
  display:inline-block;
  border:0;
  padding:0.5em 0;
}
.singerName button {
  width:100%;
  border:0px;
  padding:0.5em;
}

.highlight{
	background-color:#9af
}



.songList tr:nth-child(odd) {
  background-color:#ddd;
}
.songList tr:nth-child(even) {
  background-color:#ccc;
}
.songList th, .songList td {
  padding:0.4em;
  transition-duration: 0.5s;
}


.status {
  color:#888;
  text-align:center;
    padding:0.4em;
}

.search {
  padding: 0.5em 0;
}

.search input {
  width:100%;
  font-size:5vw;
  margin:0;
  padding:0;
  border-left:0;
  border-right:0;
}



.queue {
  text-align:center;
}

.queue button {
  color:white;
  background-color:#252;
}

.🎤 td {
  background-color:rgba(153, 170, 255, 0.35);
  color:#000;
}

.hidden {
  display:none;
}

.letters {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin:0.5em 1em;
}
.letters button{
  min-width:1em;
  font-size: 200%;
  margin:5px;
  padding:5px;
  border-radius:5px;
}




.songlist tr:nth-child(odd) {
  background-color:#444;
}
.songlist tr:nth-child(even) {
  background-color:#555;
}
.songlist th, .songlist td {
  font-size: 3vw;
  padding:0.4em;
  transition-duration: 1s;
}






@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #ddd;
  }
  input {
    background-color:#333;
    color:#eee;
  }
  .songList tr:nth-child(odd) {
    background-color:#333;
  }
  .songList tr:nth-child(even) {
    background-color:#444;
  }

  button {
    color:#ddd;
    background-color: #222;
    border-color:#444;
  }

  .highlight {
    background-color:#D08
  }

  .🎤 td {
    background-color:rgba(221, 0, 136, 0.25);
  color:#FFF;
  }
}





/* this is all for the spinner that doesn't freeze on csv to json conversion */

@-moz-keyframes circles-loader {
  0% {
    -moz-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  50% {
    -moz-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@-webkit-keyframes circles-loader {
  0% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  50% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes circles-loader {
  0% {
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  50% {
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.circles-loader:not(:required) {
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: rgba(153, 170, 255, 0.9);
  border-radius: 100%;
  -moz-animation: circles-loader 3s infinite ease-in-out;
  -webkit-animation: circles-loader 3s infinite ease-in-out;
  animation: circles-loader 3s infinite ease-in-out;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.circles-loader:not(:required)::before {
  background: rgba(153, 170, 255, 0.6);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: -10.82532px;
}
.circles-loader:not(:required)::after {
  background: rgba(153, 170, 255, 0.4);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: 10.82532px;
}
